SERVER_URL=<%= @server_url %>
DEPLOYMENT_URI=<%= @deployment_uri %>
BASE_DIR=<%= @config_dir %>
locale=<%= @locale %>
PLATFORM_LOCALE=<%= @locale %>
AM_ENC_KEY=<%= @encryption_key %>
ADMIN_PWD=<%= @amadmin_pw %>
AMLDAPUSERPASSWD=<%= @amldapuser_pw %>
COOKIE_DOMAIN=<%= @cookie_domain %>

ACCEPT_LICENSES=true
DATA_STORE=embedded
DIRECTORY_SSL=SIMPLE
DIRECTORY_SERVER=<%= @configstore_host %>
DIRECTORY_PORT=<%= @configstore_ldap_port %>
DIRECTORY_ADMIN_PORT=<%= @configstore_admin_port %>
DIRECTORY_JMX_PORT=<%= @configstore_jmx_port %>
ROOT_SUFFIX=<%= @configstore_suffix %>
DS_DIRMGRDN=<%= @configstore_binddn %>
DS_DIRMGRPASSWD=<%= @configstore_bindpw %>

USERSTORE_TYPE=LDAPv3ForOpenDS
USERSTORE_SSL=SIMPLE
USERSTORE_HOST=<%= @userstore_host %>
USERSTORE_PORT=<%= @userstore_ldap_port %>
USERSTORE_SUFFIX=<%= @userstore_suffix %>
USERSTORE_MGRDN=<%= @userstore_binddn %>
USERSTORE_PASSWD=<%= @userstore_bindpw %>

<% if @master == @server_host %>
LB_SITE_NAME=<%= @environment %>
LB_PRIMARY_URL=<%= @site_url %>
<% else %>
existingserverid=<%= @master %>
<% end %>
